.img-palestra {
  border-radius: 45%;
}

figcaption {
  width: 100%;
  border-style: dotted;
}

#evento select {
  width:100%;
  text-align: center;
}

#inscreverBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#inscreverBtn:hover {
  background-color: #234d24;
}

#evento {
  margin-bottom: 10px;
}

#acesso {
  margin-bottom: 10px;
}

#cel {
  margin-bottom: 10px;
}

#limpaBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#limpaBtn:hover {
  background-color: #234d24;
}

#nome {
  width: 100%;
}

#mail {
  width: 100%;
}

#cel {
  width: 100%;
} 

#txt {
  margin-top: 25px;
  width: 100%;
}

#envioBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#envioBtn:hover {
  background-color: #234d24;
}

 #username {
  display: block;
  background-color: #f2f2f2; 
  border-radius: 5px;
  padding: 20px;
} 

#codigo {
  display: block;
  background-color: #f2f2f2; 
  border-radius: 5px;
  padding: 0 0 0 20px ;
  margin-top: 25px;
} 

 #entrar {
  display: block;
  background-color: #f2f2f2; 
  border-radius: 5px;
  padding: 20px;
  margin-top: 25px;
} 

#loginBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  border: none;
  margin-bottom: 10px;
  transition: background .3s;
}

#loginBtn:hover {
  background-color: #234d24;
}