.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.grid-item {
  text-align: center;
}

#title{
  text-align:center
}

#componentes {
  border:none;
  text-align:center;
}

#componentes td,#componentes th{
  border:none;
  padding:8px
}

#componentes tr {
  background-color:#f2f2f2
}

#componentes tr:hover {
  background-color:#ddd
}

#componentes th {
  background-color:#00822a;
  color:#fff;
  padding-bottom:12px;
  padding-top:12px;
  text-align:center
}

#evento select {
  width:100%;
  text-align: center;
}

#inscreverBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#inscreverBtn:hover {
  background-color: #234d24;
}

#evento {
  margin-bottom: 10px;
}

#acesso {
  margin-bottom: 10px;
}

#cel {
  margin-bottom: 10px;
}

#limpaBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#limpaBtn:hover {
  background-color: #234d24;
}

#nome {
  width: 100%;
}

#mail {
  width: 100%;
}

#cel {
  width: 100%;
} 

#txt {
  margin-top: 25px;
  width: 100%;
}

#envioBtn {
  width: 100%;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  margin-top: 25px;
  border: none;
  transition: background .3s;
}

#envioBtn:hover {
  background-color: #234d24;
}

 #username {
  display: block;
  background-color: #f2f2f2; 
  border-radius: 5px;
  padding: 20px;
} 

#codigo {
  display: block;
  background-color: #f2f2f2; 
  border-radius: 5px;
  padding: 0 0 0 20px ;
  margin-top: 25px;
} 

#loginBtn {
  width: 50px;
  color:white;
  background-color: #4caf50;
  padding: 15px;
  border: none;
  margin-bottom: 10px;
  transition: background .3s;
}

#loginBtn:hover {
  background-color: #234d24;
}